# 2022 ISB Multisite

> :warning: **WARNING:**  
> This is still a work in progress!

This folder contains data about clinically and pathologically diagnosed lymphatic patterns of progression from 333 patients treated at the [Inselspital Bern] between 2001 and 2018.

[Inselspital Bern]: https://www.insel.ch/de/


## Curation

TODO: needs to be written


## Description

{{ column_description }}


## Documentation

{{ mapping_docs }}
