numpy == 2.2.2
pandas == 2.2.3
matplotlib == 3.10.0
dvc == 3.59.0
jupyter
jupyter-contrib-nbextensions
icd10-cm == 0.0.5
lyscripts @ git+https://github.com/rmnldwg/lyscripts@07ed81d1be39134823199cc5719227fb8d7eaf2e
lazydocs == 0.4.8
tueplots == 0.0.17
